<%- include('layout/header'); -%>
<div class="page">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <ul>
    <% messages.forEach(function(message){ %>
    <li>
      <div class="message">
        <span class="message-username"><%=message.user%></span>
        <span class="message-date"><%=message.dateString%>:</span>
      </div>
      <p><%=message.text%></p>
    </li>
    <% }); %>
  </ul>
</div>
<%- include('layout/footer'); -%>
